$vw_fontsize: 75;     // 基本字体大小
$vw_design: 750;      // 设计稿尺寸
$vw_ratio: 2;         // 基本设备像素比

$font_color_main: #333;   // 主字体颜色
$font_color_sub: #999;    // 副字体颜色
$font_color_666: #666;
$font_color_ccc: #ccc;

$tabs_height: 60;